.ceo{
    align-items: center;
    text-align: center;
}
.ceo-item{
    border-left: 1px  black solid; 
    border-right: 1px  black solid; 
}
.ceo-item img{
    border-radius: 50%;
    border: 1px solid black;
}
.ceo-item:first-child{
    border-left: 0;
}
.ceo-item:last-child{
    border-right: 0;
}
.slider-item:focus-visible{
    outline: none;
}
.top-game-mobile{
    display: none;
}

@media (max-width: 1400px) {
    .slider-item img{
        width: 250px;
    }
}
@media (max-width: 1200px) {
    .slider-item img{
        width: 220px;
    }
}
@media (max-width: 992px) {
    .ceo-item{
        border: none;
        padding-top: 50px;
    }
    .slider-item img{
        width: 180px;
    }
}
@media (max-width: 768px) {
    .top-game{
        display: none;
    }
    .top-game-mobile{
        display: block;
    }
}

